:root {
  --header-footer: #1f2937;
  --main-content: #ffffff;
  --background: #f9fafb;
  --primary-text: #111827;
  --secondary-text: #6b7280;
  --sidebar: #f3f4f6;
  --btn-primary: #3b82f6;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font: 16px / 1.5 sans-serif, system-ui;
  height: 100vh;
  width: 100vw;
  background-color: var(--background);
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr 1fr;
  height: 100%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 1 / 1 / 1 / -1;
  background-color: var(--header-footer);
}

h1 {
  color: var(--secondary-text);
}

h2 {
  color: var(--secondary-text);
}

main {
  grid-area: 2 / 2 / 3 / -1;
  background-color: var(--main-content);
  padding: 1rem;
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
}

.book {
  display: grid;
  background-color: #6b7280;
  color: var(--main-content);
  place-content: center;
  width: 150px;
  height: 150px;
  border: 2px var(--primary-text) solid;
  padding: 5px;
}

.book .remove-btn {
  border-radius: 3px;
  background-color: var(--btn-primary);
  outline: none;
  border: 1px lightgray;
  color: white;
}

.book .read-btn {
  border-radius: 3px;
  background-color: var(--btn-primary);
  outline: none;
  border: 1px lightgray;
  color: white;
  margin-bottom: 5px;
  padding: 3px;
}

.book > p {
  height: auto;
}
main h2 {
  text-align: center;
  font-size: clamp(30px, 1.5rem, 2%);
}

aside {
  grid-area: 2 / 1 / 2 / 2;
  background-color: var(--sidebar);
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  grid-area: 3 / 1 / 4 / -1;
  background-color: var(--header-footer);
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-book {
  padding: 20px;
  border-radius: 3px;
  background-color: var(--btn-primary);
  outline: none;
  border: 1px lightgray;
  width: 150px;
  margin-top: 0.5rem;
  color: white;
}

#add-book {
  padding: 1rem;
  align-items: center;
  border: solid 1px grey;
  background-color: var(--sidebar);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#add-book::backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
}

#add-book h2 {
  font-size: 20px;
}

#add-book div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#add-book button {
  display: block;
  margin-left: auto;
  border-radius: 3px;
  background-color: var(--btn-primary);
  outline: none;
  border: 1px lightgray;
  width: 185px;
  margin-top: 0.5rem;
  color: white;
}
